<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="gridVisivel" class="gridEnvios">
                    <h4>Lotes de envio</h4>
                    <button type="button" class="btn btn-rounded btn-primary btnCriarLote" (click)="criarLote()">Criar
                        lote</button>
                    <div class="table table-responsive smart-table">
                        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
                    </div>
                </div>

                <div *ngIf="!gridVisivel" class="criarLote">
                    <h4 class="card-title">Criação do lote</h4>
                    <button type="button" class="btn btn-rounded btn-primary btnVoltar"
                        (click)="voltar()">Voltar</button>

                    <h5 class="card-subtitle">Preencha as informações abaixo</h5>

                    <form class="form-horizontal m-t-30">
                        <div class="form-group">
                            <label>Nome do lote</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                                    class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
                                    Ligações de sucesso
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasAnotherDropZoneOver}"
                                    (fileOver)="fileOverAnother($event)" [uploader]="uploader"
                                    class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
                                    Ligações sem sucesso
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-rounded btn-success btnSalvar" (click)="salvar()">Salvar</button>
                    </form>




                </div>
            </div>
        </div>
    </div>
</div>