<div id="particles-js" class="particles-js">
</div>

<div class="login-page">
    <div class="form">
        <div style="text-align: center">
            <label class="talkey-name">Talkey</label>
        </div>

        <div class="form-body">
            <div style="padding-top: 20px;">
                <input type="email" class="form-control email" placeholder="E-mail" maxlength="100" />
            </div>
            <div style="padding-top: 30px; padding-bottom: 20px;">
                <input type="password" class="form-control pwd" placeholder="Senha" />
            </div>
            
            <button type="button" class="btn btn-block" (click)="entrar()">
                Entrar
            </button>
            <small>
                <a (click)="esqueceuSenha()">Esqueceu sua senha?</a>
            </small>
        </div>
    </div>
</div>